# **Data Cleaning for Primary Dataset ("Hydra-Movie-Scrape.csv")**

**Import CSV and apply encoding to handle characters from multiple languages in dataset**

In [2]:
import numpy as np
import pandas as pd
import chardet
import scipy.stats as stats

# Load the dataset
file_path = 'Hydra-Movie-Scrape.csv'

# Read file in binary to detect the encoding
with open(file_path, 'rb') as file:
    raw_data = file.read(100000)  # Read only the first 100,000 bytes or we risk exceeding data rate limit

# Detect the encoding used
result = chardet.detect(raw_data)
encoding = result['encoding']

# Load the CSV file and apply the detected encoding
df = pd.read_csv(file_path, encoding=encoding)

# Examine the dataset to identify columns with missing values and outliers.
# Display the first few rows of the pandas dataframe
print(df.head(15))

                                                Title  Year  \
0                         Patton Oswalt: Annihilation  2017
1                                       New York Doll  2005
2   Mickey's Magical Christmas: Snowed in at the H...  2001
3                          Mickey's House of Villains  2001
4                                       And Then I Go  2017
5                            An Extremely Goofy Movie  2000
6                                        Peter Rabbit  2018
7                                          Love Songs  2007
8                                                  89  2017
9                                      The Foster Boy  2011
10                                    Forever My Girl  2018
11                            Tom Segura: Disgraceful  2018
12      The Secret Rules of Modern Living: Algorithms  2015
13                                Secrets in the Fall  2015
14                                       Silent Night  2017

                                              Summary  \
0   Patton Oswald, despite a personal tragedy, pro...
1   A recovering alcoholic and recently converted ...
2   After everyone is snowed in at the House of Mo...
3   The villains from the popular animated Disney ...
4   In the cruel world of junior high, Edwin suffe...
5   It's a big time in Max's life. He's college bo...
6   Based on the books by Beatrix Potter: Peter Ra...
7   Julie's boyfriend Ismaël lives with her; rathe...
8   89 tells the incredible story of one of footba...
9   The illegitimate orphan child, 12-year-old Max...
10  After being gone for a decade a country star r...
11  Comedian Tom Segura rants about funny things a...
12  Professor Marcus du Sautoy demystifies the hid...
13  Nothing is impossible for a group of young cam...
14  Adam unexpectedly visits his family house at C...

                                        Short Summary  \
0   Patton Oswalt, despite a personal tragedy, pro...
1   A recovering alcoholic and recently converted ...
2   Mickey and all his friends hold their own Chri...
3   The villains from the popular animated Disney ...
4   In the cruel world of junior high, Edwin suffe...
5   Max goes to college, but to his embarassment h...
6   Feature adaptation of Beatrix Potter's classic...
7   A musical interpretation of three lovers livin...
8   The true story of a sporting miracle, when Ars...
9   A Swiss-German rural peasant family takes Max,...
10  After being gone for a decade a country star r...
11  Comedian Tom Segura rants about funny things a...
12  Professor Marcus du Sautoy demystifies the hid...
13  Nothing is impossible for a group of young cam...
14  Adam unexpectedly visits his family house at C...

                                       Genres    IMDB ID  Runtime  \
0                               Uncategorized  tt7026230       66
1                           Documentary|Music  tt0436629       75
2   Adventure|Animation|Comedy|Family|Fantasy  tt0300195       65
3      Animation|Comedy|Family|Fantasy|Horror  tt0329374        0
4                                       Drama  tt2018111       99
5               Animation|Comedy|Family|Sport  tt0208185       79
6   Adventure|Animation|Comedy|Family|Fantasy  tt5117670       95
7                               Uncategorized  tt0996605       91
8                               Uncategorized  tt7614404       91
9                                       Drama  tt2057931      107
10                        Drama|Music|Romance  tt4103724      108
11                         Comedy|Documentary  tt7379330        0
12                                Documentary  tt5818010       58
13                                     Family  tt2522908        0
14                               Comedy|Drama  tt7133554      100

   YouTube Trailer  Rating                                       Movie Poster  \
0      4hZi5QaMBFc     7.4  https://hydramovies.com/wp-content/uploads/201...
1      jwD04NsnLLg     7.9  https://hydramovies.com/wp-content/uploads/201...
2      uCKwHHftrU4     6.8  https://hydramovies.com/wp-content/uploads/201...
3      JA03ciYt-Ek     6.6  https://hydramovies.com/wp-content/uploads/201...
4      8CdIiD6-iF0     7.6  https://hydramovies.com/wp-content/uploads/201...
5      H8oSvldAGfg     6.4  https://hydramovies.com/wp-content/uploads/201...
6      7Pa_Weidt08     6.6  https://hydramovies.com/wp-content/uploads/201...
7      s54vpKAFmS0     7.2  https://hydramovies.com/wp-content/uploads/201...
8      5hfAExhHTMM     8.1  https://hydramovies.com/wp-content/uploads/201...
9      E9Qv_XVJ-js     7.4  https://hydramovies.com/wp-content/uploads/201...
10     3vqcMr1q5Uc     6.4  https://hydramovies.com/wp-content/uploads/201...
11     kYYINJM3lPA     7.5  https://hydramovies.com/wp-content/uploads/201...
12     hpyxmT6KSvw     7.5  https://hydramovies.com/wp-content/uploads/201...
13     eMVw1pHVMAw     7.3  https://hydramovies.com/wp-content/uploads/201...
14     cA6BUYVkQoE     7.5  https://hydramovies.com/wp-content/uploads/201...

               Director               Writers  \
0     Bobcat Goldthwait         Patton Oswalt
1         Greg Whiteley           Arthur Kane
2            Tony Craig           Thomas Hart
3        Jamie Mitchell           Thomas Hart
4       Vincent Grashaw           Brett Haley
5      Douglas McCarthy  Scott Spencer Gorden
6            Will Gluck            Rob Lieber
7     Christophe Honoré     Christophe Honoré
8          Dave Stewart             Lee Dixon
9        Markus Imboden       Plinio Bachmann
10  Bethany Ashton Wolf   Bethany Ashton Wolf
11            Jay Karas            Tom Segura
12         David Briggs      Marcus du Sautoy
13     Brittany Goodwin      Brittany Goodwin
14     Piotr Domalewski      Piotr Domalewski

                                                Cast
0                                      Patton Oswalt
1                                    Sylvain Sylvain
2                     Carlos Alazraqui|Wayne Allwine
3                         Tony Anselmo|Wayne Allwine
4                           Arman Darbo|Sawyer Barth
5             Bill Farmer|Jason Marsden|Jeff Bennett
6                         Fayssal Bazzi|James Corden
7       Clotilde Hesme|Louis Garrel|Ludivine Sagnier
8                                         Ian Wright
9   Katja Riemann|Maximilian Simonischek|Stefan Kurt
10         Abby Ryder Fortson|Alex Roe|Jessica Rothe
11                                        Tom Segura
12                                               NaN
13           Hollie Shay|Kyle Kupecky|Vincent Seidle
14    Agnieszka Suchora|Dawid Ogrodnik|Tomasz Zietek

In [3]:
# Display info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            3940 non-null   object
 1   Year             3940 non-null   int64
 2   Summary          3935 non-null   object
 3   Short Summary    3939 non-null   object
 4   Genres           3940 non-null   object
 5   IMDB ID          3940 non-null   object
 6   Runtime          3940 non-null   int64
 7   YouTube Trailer  3893 non-null   object
 8   Rating           3940 non-null   float64
 9   Movie Poster     3940 non-null   object
 10  Director         3940 non-null   object
 11  Writers          3922 non-null   object
 12  Cast             3916 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 400.3+ KB

**Handle Missing Data**

In [4]:
# Examing missing values:

# Print missing values percentages:
missing_ratio = df.isnull().mean()
print("\nPercentage Missing Values:")
print(missing_ratio)

Percentage Missing Values:
Title              0.000000
Year               0.000000
Summary            0.001269
Short Summary      0.000254
Genres             0.000000
IMDB ID            0.000000
Runtime            0.000000
YouTube Trailer    0.011929
Rating             0.000000
Movie Poster       0.000000
Director           0.000000
Writers            0.004569
Cast               0.006091
dtype: float64

> <ins>Note:</ins> Since there are virutally no Nan's in the dataset we will move on.

**Handle Duplicates**

In [5]:
# Check if duplicates exist

# Identify duplicate rows
duplicates = df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

# Display the number of duplicates
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

> <ins>Note:</ins> Since there are no duplicates, we will move on.

**Handle Outliers**

In [6]:
# Set the global display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Examine the distributions
print("\nData Distributions:")
print(df.describe())
print("\nObjects-Categorical Variables:")
print(df.describe(include=['object','string']))

Data Distributions:
         Year  Runtime  Rating
count 3940.00  3940.00 3940.00
mean  2012.13   100.35    6.56
std      4.82    29.80    0.89
min   2000.00     0.00    1.70
25%   2009.00    91.00    6.10
50%   2013.00   102.00    6.60
75%   2016.00   115.00    7.10
max   2018.00   338.00    9.50

Objects-Categorical Variables:
           Title                                            Summary  \
count       3940                                               3935
unique      3927                                               3935
top     The Gift  Patton Oswald, despite a personal tragedy, pro...
freq           2                                                  1

       Short Summary Genres    IMDB ID YouTube Trailer  \
count           3939   3940       3940            3893
unique          3938    836       3940            3883
top     Add a Plot »  Drama  tt7026230     UKY3scPIMd8
freq               2    116          1               9

                                             Movie Poster        Director  \
count                                                3940            3940
unique                                               3932            2403
top     https://hydramovies.com/wp-content/uploads/201...  Clint Eastwood
freq                                                    2              15

           Writers                                       Cast
count         3922                                       3916
unique        2883                                       3826
top     Luc Besson  Daniel Radcliffe|Emma Watson|Rupert Grint
freq            14                                          7

> <ins>Note:</ins> Descriptive Stats shows us that the Min value for Runtime is 0 which should not be the case. Further
investigation shows 193 records where Runtime = 0 :

In [7]:
# Outlier Work

# Ensure the 'Runtime' column is numeric
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

# Calculate the number of records where Runtime is 0
num_runtime_zero = (df['Runtime'] == 0).sum()

# Display the number of records with Runtime = 0
print(f'The number of records where Runtime is 0: {num_runtime_zero}')

The number of records where Runtime is 0: 193

**Use Imputation to update those records with Average Runtime instead:**

In [17]:
# First we calculate the average runtime of non-zero values
#average_runtime_non_zero = df[df['Runtime'] != 0]['Runtime'].mean()

# Since Runtime is an int, calculate the average runtime of non-zero values and round to the nearest integer
average_runtime_non_zero = round(df[df['Runtime'] != 0]['Runtime'].mean())

# Display the rounded average runtime
print(f'The rounded average runtime of all non-zero movies is: {average_runtime_non_zero} minutes')

The rounded average runtime of all non-zero movies is: 106 minutes

In [19]:
# Then we Impute the zero Runtime values with the average Runtime value:
df.loc[df['Runtime'] == 0, 'Runtime'] = average_runtime_non_zero

# Verify the update
num_runtime_zero_after_imputation = (df['Runtime'] == 0).sum()

# Print verification results
print(f'The number of records where Runtime is 0 after imputation: {num_runtime_zero_after_imputation}')
print(f'The average runtime of all movies is now: {df["Runtime"].mean()} minutes')

The number of records where Runtime is 0 after imputation: 0
The average runtime of all movies is now: 105.49695431472081 minutes

In [20]:
# force the imputed values to go into Runtime as int:
df['Runtime'] = df['Runtime'].astype(int)

**Write cleaned data to an output CSV file:**

In [21]:
# Write the cleaned data to an output CSV file
output_file_path = 'Cleaned-Movies-Primary.csv'
df.to_csv(output_file_path, index=False)

print(f'The cleaned data has been written to {output_file_path}')

The cleaned data has been written to Cleaned-Movies-Primary.csv