In [ ]:
# Attempting to Split out original uncleaned Primary D/S but FIRST REDUCING the Hydra-Movies dataset TO 1000 ROWS

In [2]:
import numpy as np
import pandas as pd
import chardet
import scipy.stats as stats

# Load the dataset
file_path = 'Hydra-Movie-Scrape.csv'

# Read file in binary to detect the encoding
with open(file_path, 'rb') as file:
    raw_data = file.read(100000)  # Read only the first 100,000 bytes or we risk exceeding data rate limit

# Detect the encoding used
result = chardet.detect(raw_data)
encoding = result['encoding']

# Load the CSV file and apply the detected encoding
df = pd.read_csv(file_path, encoding=encoding)

# Examine the dataset to identify columns with missing values and outliers.
# Display the first few rows of the pandas dataframe
print(df.head(15))

                                                Title  Year  \
0                         Patton Oswalt: Annihilation  2017
1                                       New York Doll  2005
2   Mickey's Magical Christmas: Snowed in at the H...  2001
3                          Mickey's House of Villains  2001
4                                       And Then I Go  2017
5                            An Extremely Goofy Movie  2000
6                                        Peter Rabbit  2018
7                                          Love Songs  2007
8                                                  89  2017
9                                      The Foster Boy  2011
10                                    Forever My Girl  2018
11                            Tom Segura: Disgraceful  2018
12      The Secret Rules of Modern Living: Algorithms  2015
13                                Secrets in the Fall  2015
14                                       Silent Night  2017

                                              Summary  \
0   Patton Oswald, despite a personal tragedy, pro...
1   A recovering alcoholic and recently converted ...
2   After everyone is snowed in at the House of Mo...
3   The villains from the popular animated Disney ...
4   In the cruel world of junior high, Edwin suffe...
5   It's a big time in Max's life. He's college bo...
6   Based on the books by Beatrix Potter: Peter Ra...
7   Julie's boyfriend Ismaël lives with her; rathe...
8   89 tells the incredible story of one of footba...
9   The illegitimate orphan child, 12-year-old Max...
10  After being gone for a decade a country star r...
11  Comedian Tom Segura rants about funny things a...
12  Professor Marcus du Sautoy demystifies the hid...
13  Nothing is impossible for a group of young cam...
14  Adam unexpectedly visits his family house at C...

                                        Short Summary  \
0   Patton Oswalt, despite a personal tragedy, pro...
1   A recovering alcoholic and recently converted ...
2   Mickey and all his friends hold their own Chri...
3   The villains from the popular animated Disney ...
4   In the cruel world of junior high, Edwin suffe...
5   Max goes to college, but to his embarassment h...
6   Feature adaptation of Beatrix Potter's classic...
7   A musical interpretation of three lovers livin...
8   The true story of a sporting miracle, when Ars...
9   A Swiss-German rural peasant family takes Max,...
10  After being gone for a decade a country star r...
11  Comedian Tom Segura rants about funny things a...
12  Professor Marcus du Sautoy demystifies the hid...
13  Nothing is impossible for a group of young cam...
14  Adam unexpectedly visits his family house at C...

                                       Genres    IMDB ID  Runtime  \
0                               Uncategorized  tt7026230       66
1                           Documentary|Music  tt0436629       75
2   Adventure|Animation|Comedy|Family|Fantasy  tt0300195       65
3      Animation|Comedy|Family|Fantasy|Horror  tt0329374        0
4                                       Drama  tt2018111       99
5               Animation|Comedy|Family|Sport  tt0208185       79
6   Adventure|Animation|Comedy|Family|Fantasy  tt5117670       95
7                               Uncategorized  tt0996605       91
8                               Uncategorized  tt7614404       91
9                                       Drama  tt2057931      107
10                        Drama|Music|Romance  tt4103724      108
11                         Comedy|Documentary  tt7379330        0
12                                Documentary  tt5818010       58
13                                     Family  tt2522908        0
14                               Comedy|Drama  tt7133554      100

   YouTube Trailer  Rating                                       Movie Poster  \
0      4hZi5QaMBFc     7.4  https://hydramovies.com/wp-content/uploads/201...
1      jwD04NsnLLg     7.9  https://hydramovies.com/wp-content/uploads/201...
2      uCKwHHftrU4     6.8  https://hydramovies.com/wp-content/uploads/201...
3      JA03ciYt-Ek     6.6  https://hydramovies.com/wp-content/uploads/201...
4      8CdIiD6-iF0     7.6  https://hydramovies.com/wp-content/uploads/201...
5      H8oSvldAGfg     6.4  https://hydramovies.com/wp-content/uploads/201...
6      7Pa_Weidt08     6.6  https://hydramovies.com/wp-content/uploads/201...
7      s54vpKAFmS0     7.2  https://hydramovies.com/wp-content/uploads/201...
8      5hfAExhHTMM     8.1  https://hydramovies.com/wp-content/uploads/201...
9      E9Qv_XVJ-js     7.4  https://hydramovies.com/wp-content/uploads/201...
10     3vqcMr1q5Uc     6.4  https://hydramovies.com/wp-content/uploads/201...
11     kYYINJM3lPA     7.5  https://hydramovies.com/wp-content/uploads/201...
12     hpyxmT6KSvw     7.5  https://hydramovies.com/wp-content/uploads/201...
13     eMVw1pHVMAw     7.3  https://hydramovies.com/wp-content/uploads/201...
14     cA6BUYVkQoE     7.5  https://hydramovies.com/wp-content/uploads/201...

               Director               Writers  \
0     Bobcat Goldthwait         Patton Oswalt
1         Greg Whiteley           Arthur Kane
2            Tony Craig           Thomas Hart
3        Jamie Mitchell           Thomas Hart
4       Vincent Grashaw           Brett Haley
5      Douglas McCarthy  Scott Spencer Gorden
6            Will Gluck            Rob Lieber
7     Christophe Honoré     Christophe Honoré
8          Dave Stewart             Lee Dixon
9        Markus Imboden       Plinio Bachmann
10  Bethany Ashton Wolf   Bethany Ashton Wolf
11            Jay Karas            Tom Segura
12         David Briggs      Marcus du Sautoy
13     Brittany Goodwin      Brittany Goodwin
14     Piotr Domalewski      Piotr Domalewski

                                                Cast
0                                      Patton Oswalt
1                                    Sylvain Sylvain
2                     Carlos Alazraqui|Wayne Allwine
3                         Tony Anselmo|Wayne Allwine
4                           Arman Darbo|Sawyer Barth
5             Bill Farmer|Jason Marsden|Jeff Bennett
6                         Fayssal Bazzi|James Corden
7       Clotilde Hesme|Louis Garrel|Ludivine Sagnier
8                                         Ian Wright
9   Katja Riemann|Maximilian Simonischek|Stefan Kurt
10         Abby Ryder Fortson|Alex Roe|Jessica Rothe
11                                        Tom Segura
12                                               NaN
13           Hollie Shay|Kyle Kupecky|Vincent Seidle
14    Agnieszka Suchora|Dawid Ogrodnik|Tomasz Zietek

In [3]:
print('\nThe dataset shape before splitting:')
df.shape

The dataset shape before splitting:

(3940, 13)

In [4]:
#Reduce Dataset down to 1000 rows:

# Step 1: Sample 1000 random rows from the original dataset
df_sampled = df.sample(n=1000, random_state=42)  # random_state ensures reproducibility

print('\nThe dataset shape after randomly reducing:')
print(df_sampled.shape)

The dataset shape after randomly reducing:
(1000, 13)

**Perform Data Cleaning on the Reduced Hydra-Movie dataset(1000 rows)**

In [5]:
# Display info about the dataframe
df_sampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 3575 to 879
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1000 non-null   object
 1   Year             1000 non-null   int64
 2   Summary          998 non-null    object
 3   Short Summary    1000 non-null   object
 4   Genres           1000 non-null   object
 5   IMDB ID          1000 non-null   object
 6   Runtime          1000 non-null   int64
 7   YouTube Trailer  985 non-null    object
 8   Rating           1000 non-null   float64
 9   Movie Poster     1000 non-null   object
 10  Director         1000 non-null   object
 11  Writers          995 non-null    object
 12  Cast             991 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 109.4+ KB

**Handle Data Inconsistencies**

Normalize the field "IMDB ID" to remove leading "tt" or "tt0" chars so that primary dataset will match same field in secondary dataset

In [6]:
# Normalize the field "IMDB ID"

#to remove leading "tt" or "tt0" chars so that primary dataset will match same field 
# in secondary dataset

# Remove leading "tt" or "tt0" from IMDB ID
df_sampled['IMDB ID'] = df_sampled['IMDB ID'].str.replace(r'^tt0?', '', regex=True)

# Verify the update to IMDB ID
print(df_sampled[['IMDB ID']].head())

      IMDB ID
3575   466875
733   1422020
196   2321405
869   1741273
2717  1591479

**Handle Missing Data**

In [7]:
# Examing missing values:

# Print missing values percentages:
missing_ratio = df_sampled.isnull().mean()
print("\nPercentage Missing Values:")
print(missing_ratio)

Percentage Missing Values:
Title              0.000
Year               0.000
Summary            0.002
Short Summary      0.000
Genres             0.000
IMDB ID            0.000
Runtime            0.000
YouTube Trailer    0.015
Rating             0.000
Movie Poster       0.000
Director           0.000
Writers            0.005
Cast               0.009
dtype: float64

> <ins>Note:</ins> Since there are virutally no Nan's in the dataset we will move on.

**Handle Duplicates**

In [8]:
# Check if duplicates exist

# Identify duplicate rows
duplicates = df_sampled.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

# Display the number of duplicates
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

> <ins>Note:</ins> Since there are no duplicates, we will move on.

**Handle Outliers**

In [9]:
# Set the global display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Examine the distributions
print("\nData Distributions:")
print(df_sampled.describe())
print("\nObjects-Categorical Variables:")
print(df_sampled.describe(include=['object','string']))

Data Distributions:
         Year  Runtime  Rating
count 1000.00  1000.00 1000.00
mean  2012.08   100.96    6.60
std      4.87    30.43    0.88
min   2000.00     0.00    1.70
25%   2009.00    92.00    6.10
50%   2013.00   102.00    6.60
75%   2016.00   115.00    7.20
max   2018.00   338.00    9.00

Objects-Categorical Variables:
                   Title                                            Summary  \
count               1000                                                998
unique              1000                                                998
top     Left in Darkness  A young woman, whose mother died giving birth ...
freq                   1                                                  1

                                            Short Summary Genres IMDB ID  \
count                                                1000   1000    1000
unique                                               1000    384    1000
top     A young woman, whose mother died giving birth ...  Drama  466875
freq                                                    1     35       1

       YouTube Trailer                                       Movie Poster  \
count              985                                               1000
unique             985                                               1000
top        eABWfWuSYpc  https://hydramovies.com/wp-content/uploads/201...
freq                 1                                                  1

              Director       Writers  \
count             1000           995
unique             830           905
top     Clint Eastwood  Chris Morgan
freq                 6             6

                                             Cast
count                                         991
unique                                        978
top     Daniel Radcliffe|Emma Watson|Rupert Grint
freq                                            3

> <ins>Note:</ins> Descriptive Stats shows us that the Min value for Runtime is 0 which should not be the case. Further
investigation shows 193 records where Runtime = 0 :

In [10]:
# Outlier Work

# Ensure the 'Runtime' column is numeric
df_sampled['Runtime'] = pd.to_numeric(df_sampled['Runtime'], errors='coerce')

# Calculate the number of records where Runtime is 0
num_runtime_zero = (df_sampled['Runtime'] == 0).sum()

# Display the number of records with Runtime = 0
print(f'The number of records where Runtime is 0: {num_runtime_zero}')

The number of records where Runtime is 0: 50

**Use Imputation to update those records with Average Runtime instead:**

In [11]:
# Since Runtime is an int, calculate the average runtime of non-zero values and round to the nearest integer
average_runtime_non_zero = round(df_sampled[df_sampled['Runtime'] != 0]['Runtime'].mean())

# Display the rounded average runtime
print(f'The rounded average runtime of all non-zero movies is: {average_runtime_non_zero} minutes')

The rounded average runtime of all non-zero movies is: 106 minutes

In [12]:
# Then we Impute records with zero Runtime values with the average Runtime value:
df_sampled.loc[df_sampled['Runtime'] == 0, 'Runtime'] = average_runtime_non_zero

# Verify the update
num_runtime_zero_after_imputation = (df_sampled['Runtime'] == 0).sum()

# Print verification results
print(f'The number of records where Runtime is 0 after imputation: {num_runtime_zero_after_imputation}')
print(f'The average runtime of all movies is now: {df_sampled["Runtime"].mean()} minutes')

The number of records where Runtime is 0 after imputation: 0
The average runtime of all movies is now: 106.256 minutes

In [13]:
# Lastly, we force the imputed values to go into Runtime as int:
df_sampled['Runtime'] = df_sampled['Runtime'].astype(int)

**Expand/Explode Genre and Cast into the sampled dataset**

Here we expand the dataframe creating new rows for the movies, one new row for each genre and cast member combination.

In [14]:
# Step 1: Expand the `Genres` and `Cast` columns in the sampled data

# Split and explode the Genres column
df_sampled['Genres'] = df_sampled['Genres'].str.split('|')
df_expanded = df_sampled.explode('Genres')

# Split and explode the Cast column
df_expanded['Cast'] = df_expanded['Cast'].str.split('|')
df_expanded = df_expanded.explode('Cast')

# Display the shape of the expanded dataframe
print('\nThe reduced dataset shape splitting:')
print(df_expanded.shape)

# Continue with further analysis (e.g., one-hot encoding, predictive modeling)

The reduced dataset shape splitting:
(8571, 13)

In [20]:
df_expanded

,Title,Year,Summary,Short Summary,Genres,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,Writers,Cast
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",Horror,466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,Philip Daay,David Anders
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",Horror,466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,Philip Daay,Jessica Stroup
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",Horror,466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,Philip Daay,Monica Keena
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",Thriller,466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,Philip Daay,David Anders
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",Thriller,466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,Philip Daay,Jessica Stroup
...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,Steve Jobs,2015,His passion and ingenuity have been the drivin...,Steve Jobs takes us behind the scenes of the d...,Drama,2080374,122,aEr6K1bwIVs,7.20,https://hydramovies.com/wp-content/uploads/201...,Danny Boyle,Aaron Sorkin,Michael Fassbender
879,Steve Jobs,2015,His passion and ingenuity have been the drivin...,Steve Jobs takes us behind the scenes of the d...,Drama,2080374,122,aEr6K1bwIVs,7.20,https://hydramovies.com/wp-content/uploads/201...,Danny Boyle,Aaron Sorkin,Seth Rogen
879,Steve Jobs,2015,His passion and ingenuity have been the drivin...,Steve Jobs takes us behind the scenes of the d...,History,2080374,122,aEr6K1bwIVs,7.20,https://hydramovies.com/wp-content/uploads/201...,Danny Boyle,Aaron Sorkin,Kate Winslet
879,Steve Jobs,2015,His passion and ingenuity have been the drivin...,Steve Jobs takes us behind the scenes of the d...,History,2080374,122,aEr6K1bwIVs,7.20,https://hydramovies.com/wp-content/uploads/201...,Danny Boyle,Aaron Sorkin,Michael Fassbender
879,Steve Jobs,2015,His passion and ingenuity have been the drivin...,Steve Jobs takes us behind the scenes of the d...,History,2080374,122,aEr6K1bwIVs,7.20,https://hydramovies.com/wp-content/uploads/201...,Danny Boyle,Aaron Sorkin,Seth Rogen

**Save an output CSV before one-hot encoding process, to simplify the visualizations for the EDA process.**

In [19]:
# Write the cleaned data to an output CSV file with UTF-8 BOM encoding 

output_file_path = 'Cleaned-Reduced-Movie-Primary_forEDA.csv'

# Display info about the dataframe
df_expanded.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f'The cleaned data (for EDA process) has been written to {output_file_path}')

The cleaned data (for EDA process) has been written to Cleaned-Reduced-Movie-Primary_forEDA.csv

**Apply One-Hot Encoding to the reduced and exploded Movies dataset to allow for further predictive analysis**

In [15]:
# Apply one-hot encoding to the 'Genres' and 'Cast' columns => tag the various exploded Genre and Cast columns with 
df_encoded = pd.get_dummies(df_expanded, columns=['Genres', 'Cast'], prefix=['Genre', 'Cast'])

# Display the first few rows of the transformed dataframe
df_encoded.head()

,Title,Year,Summary,Short Summary,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,...,Cast_Zack Gold,Cast_Zaira Wasim,Cast_Zane Austin,Cast_Zita Hanrot,Cast_Zoe Kazan,Cast_Zoe Saldana,Cast_Zooey Deschanel,Cast_Zoë Kravitz,Cast_Zuleikha Robinson,Cast_Élodie Bouchez
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,...,False,False,False,False,False,False,False,False,False,False
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,...,False,False,False,False,False,False,False,False,False,False
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,...,False,False,False,False,False,False,False,False,False,False
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,...,False,False,False,False,False,False,False,False,False,False
3575,Left in Darkness,2006,"A young woman, whose mother died giving birth ...","A young woman, whose mother died giving birth ...",466875,88,eABWfWuSYpc,5.00,https://hydramovies.com/wp-content/uploads/201...,Steven R. Monroe,...,False,False,False,False,False,False,False,False,False,False

In [16]:
print('\nThe reduced dataset shape after splitting and one-hot encoding:')
df_encoded.shape

The reduced dataset shape after splitting and one-hot encoding:

(8571, 1794)

> <ins>Note:</ins> As we can see, one-hot encoding has vastly increased the number of columns.

In [17]:
# Display info about the dataframe
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8571 entries, 3575 to 879
Columns: 1794 entries, Title to Cast_Élodie Bouchez
dtypes: bool(1783), float64(1), int32(1), int64(1), object(8)
memory usage: 15.3+ MB

**Write cleaned data to an output CSV file:**

In [18]:
# Write the cleaned data to an output CSV file with UTF-8 BOM encoding

output_file_path = 'Cleaned-Reduced-Movie-Primary.csv'

# Display info about the dataframe
df_encoded.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f'The cleaned data has been written to {output_file_path}')

The cleaned data has been written to Cleaned-Reduced-Movie-Primary.csv

**Our Target Variable is Movie Rating (column: Rating).**